/* CSS rsets */

* { 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

html, body { 
    margin: 0; 
    padding: 0; 
    font-size: 15px; 
    /* ^ 15px rem base number for type scaling*/
    color: white;
    background-color: #222222;
    min-height: 100vh;
    min-width: 100vw;

}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.1;
}

body,
input,
button,
select,
textarea {
    font: 600 1rem 'Poppins'; 
    color: #1c1c1c}

a { text-decoration: none; }
a:link { color: #6A26CD; }
a:hover { color: #431488; }
a:active { color: #6A26CD; }
a:visited { color: #6A26CD; }

/* html, body, #root { min-height: 100%; } */

ul, ol { margin: 0 0 1rem; padding: 0 0 0 1rem; }

table { border-collapse: collapse; }
th { text-align: left; border-bottom: 1px solid white; }
td { vertical-align: middle; }

table:not(th){
    font-weight: 200;
}



/* V & V code */

.container {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}

body {
background-color: #1c1c1c;
color: #fff;
background-image: url(./images/castle-1.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
/* pointer-events: none; */
}

#character-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#character-creator form {
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    width: 50rem;
    min-height: 100vh;
}
  
#character-creator label {
    margin: 8px 0;
}
  
#character-creator input {
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
#character-creator button {
    margin: 8px 0;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
    min-width: 50%;

}

#character-display #new-character-button {
    
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
    text-align: center;
    min-width: 50%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.buttons {
    /* justify-content: center; */
    /* justify-content: space-between; */
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
  
#character-display {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 40rem;
    /* max-height: 100vh; */
    /* background-image: url(./images/item-1-bg.png); */
    background-color: #fff;
    color: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem;
    border-radius: 10px;
    margin-left: 8rem;
}

.portrait {
    width: 12rem;
    height: 12rem;
    background-image: url(./images/portrait-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px;
    pointer-events: none;
    border: rgb(208, 191, 117) .6rem solid;
}

#name {
    margin-top: 2rem;
    margin-bottom: 0;
}
.class{
    margin: 0 0 1rem 0;
}
#class {
    
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.1;
}
.stats{
    margin-top: 1rem;
}
#character-display p {
    margin-block-start: .5rem;
    margin-block-end: .5rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#character-display .delete {
    border: 2px solid #1c1c1c !important;
    background-color: #fff !important;
    color: #1c1c1c !important;
}


/* ANIMATION */


  .slide {
    animation: slide-in .75s ease-in-out;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
  }
  
  @keyframes slide-in {
    0% {
      transform: translateY(900px);
      opacity: 0;
      scale: .75;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }

  .fade{
    animation: fade-in 1.25s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* animation-delay: .7s; */
  }
  @keyframes fade-in {
    0% {
      transform: translateY(100px);
      opacity: 0;
      scale: .90;
    }
    75% {
        transform: translateY(100px);
        opacity: 0;
        scale: .90; 
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }

  .fade-slow {
    animation: fade-in-slow 2s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* animation-delay: .51s; */
  }
  @keyframes fade-in-slow {
    0% {
      opacity: 0;
      scale: .90;
    }
    50% {
        opacity: 0;
        scale: .90;
    }
    75% {
        transform: translateY(40px);
        opacity: 0;
        scale: .90;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }

  .fade-slow-er {
    animation: fade-in-slower 3s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @keyframes fade-in-slower {
    0% {
      opacity: 0;
      scale: .90;
    }
    50% {
        opacity: 0;
        scale: .90;
    }
    75% {
        transform: translateY(40px);
        opacity: 0;
        scale: .90;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }


 /* MOBILE */

@media only screen and (max-width: 900px) {
    #character-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 84vw;
        padding: 5rem;
        margin: auto;
    }
    #character-display p {
        text-align: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem
    }

    body {
        background-position: center;
        /* pointer-events: none; */
        justify-content: center;
        /* align-items: center; */
        display: flex;
    }

    .buttons {
        justify-content: center;
        justify-content: space-between;
        display: flex;
        flex-flow: column;
        min-width: 100%;
    }

  }