/* CSS rsets */

* { 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

html, body { 
    margin: 0; 
    padding: 0; 
    font-size: 13px; 
    /* ^ 15px rem base number for type scaling*/
    color: white;
    background-color: #222222;
    min-height: 100vh;
    min-width: 100vw;

}

h1 {
    font-size: 5.5rem;
    padding: 0;
    font-family: serif;
}

h2 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    font-family: serif;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.15rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.1;
}

body,
input,
button,
select,
textarea {
    font: 600 1rem 'Poppins'; 
    color: #1c1c1c}

a { text-decoration: none; }
a:link { color: #6A26CD; }
a:hover { color: #431488; }
a:active { color: #6A26CD; }
a:visited { color: #6A26CD; }

/* html, body, #root { min-height: 100%; } */

ul, ol { margin: 0 0 1rem; padding: 0 0 0 1rem; }

table { border-collapse: collapse; }
th { text-align: left; border-bottom: 1px solid white; }
td { vertical-align: middle; }

table:not(th){
    font-weight: 200;
}

.splash {
    padding-left: 8rem;
    padding-bottom: 50vh;
}

/* V & V code */

.container {
    display: flex;
    flex-direction: column;
    /* padding-top: 15vh; */
}

body {
background-color: #1c1c1c;
color: #fff;
background-image: url(./images/castle-3.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
/* pointer-events: none; */
display: flex;
align-items: center;
}

#character-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
}
  
#character-creator form {
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    max-width: 50rem;
    /* min-height: 100vh; */
}
  


#character-creator input {
    margin: 8px 1rem;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 16.5rem;
    min-width: 1rem;
}
  

#character-creator #name {
    margin: 8px 0 2rem 0;
    max-width: none;
    min-width: 30rem;
}

#character-creator #name::placeholder{
color: #9a9a9a;
font-weight: 200;
}

#character-creator button {
    margin: 8px 0;
    padding: 18px 26px;
    border: none;
    border-radius: 40px;
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
    /* min-width: 50%; */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;

}

#start-button {
    margin: 8px 0;
    padding: 18px 26px;
    border: none;
    border-radius: 40px;
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
    /* min-width: 50%; */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    width: 25vw;
}

.logo{
    width: 35vw;
    margin-left: -7px;
}

.intro {
    margin-top: 10px;
    font-size: 1.8rem;
    max-width: 34vw;
    line-height: 1.4;
}

#start-button:hover {
    background-color: rgb(208, 191, 117);
    transition: .5s ease-out;
}


#character-creator button:hover {
    background-color: rgb(208, 191, 117);
    transition: .5s ease-out;
}

#character-display #new-character-button:hover {
    background-color: rgb(208, 191, 117);
    transition: .5s ease-out;
}


#character-display #new-character-button, #delete-character-button{
    
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
    text-align: center;
    min-width: 50%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
  
#character-display, #character-creator {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 46rem;
    background-color: #fff;
    color: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6rem 5rem;
    border-radius: 10px;
    margin-left: 8rem;
    min-width: 44rem;
}

.portrait {
    width: 12rem;
    height: 12rem;
    background-image: url(./images/portrait-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px;
    pointer-events: none;
    border: rgb(208, 191, 117) .6rem solid;
}

#name {
    margin-top: 2rem;
    margin-bottom: 0;
}
.class{
    margin: 0 0 1rem 0;
}
.class-name {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.1;
}
#character-display .class {
    font-size: 2.25rem;
    font-weight: 200;
    line-height: 1.1;
}

.stats h4{
    min-width: 60%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.stats {
    font-weight: 200;
    letter-spacing: 2px;
}


#character-display p {
    margin-block-start: .5rem;
    margin-block-end: .5rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.traits {
    display: flex;
    justify-content: space-between;
}

.resources {
    min-width: 40%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.resources p {
    font-weight: 200;
}



#delete-character-button {
    border: 2px solid #1c1c1c !important;
    background-color: #fff !important;
    color: #1c1c1c !important;
    cursor: pointer !important;
}

#delete-character-button:hover {
    background-color: rgb(208, 191, 117) !important;
    transition: .35s ease-out !important;
    border: 2px solid transparent !important;
    /* color: #1c1c1c !important; */
}

.resources .hp, .mp  {
    margin-bottom: 2rem;
}

/* Class selector syles */
#class-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

/* Style for radio buttons */
#class-selector input[type="radio"] {
    display: none;
}

/* Style for radio button labels */
#class-selector label {
    display: inline-block;
    border: 0px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

/* Style for selected radio button label */
#class-selector input[type="radio"]:checked + label {
    /* border-color: gold ;
    border: 20px solid gold; */
    outline: .45rem solid rgb(208, 191, 117);
    scale: 1.25;
    transition: .5s ease-out;
    margin-right: 20px;
    margin-left: 20px;
}


#class-selector input[type="radio"]:hover + label{
    scale: 1.25;
    transition: .5s ease-out;
}


#character-creator input:focus{
    outline: 3px solid rgb(208, 191, 117);
    transition: .2s ease-out;
}

.stat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#character-creator .stat-container button {
    padding: 12px 18px;
}

.stat-wrapper {
    display: flex;
    justify-content: center;
}

.card-headline {
    line-height: 1;
    text-align: center;
    font-size: 4.5rem;
    padding-top: 0;
    margin-top: 0;
}

#character-creator #name {
    margin: 8px 0 2rem 0;
    max-width: none;
    min-width: 30rem;
    font-size: 1.75rem;
    font-family: serif;
    text-align: center;
}


/* Percent  broken*/
/* 
.product-inf__percent {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    font-family: "Dosis", sans-serif;
    position: relative;
  }
  .product-inf__percent circle {
    transform: rotate(180deg) scaleY(-1);
    transform-origin: 50%;
  }
  .product-inf__percent-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .product-slider__item.swiper-slide-active circle {
  animation: progress 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0.75;
} */

/* ANIMATION */


  .slide {
    animation: slide-in .75s ease-in-out;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
  }
  
  @keyframes slide-in {
    0% {
      transform: translateY(900px);
      opacity: 0;
      scale: .75;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }

  .fade{
    animation: fade-in 1.25s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* animation-delay: .7s; */
  }
  @keyframes fade-in {
    0% {
      transform: translateY(100px);
      opacity: 0;
      scale: .90;
    }
    75% {
        transform: translateY(100px);
        opacity: 0;
        scale: .90; 
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }

  .fade-slow {
    animation: fade-in-slow 2s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* animation-delay: .51s; */
  }
  @keyframes fade-in-slow {
    0% {
      opacity: 0;
      scale: .90;
    }
    50% {
        opacity: 0;
        scale: .90;
    }
    75% {
        transform: translateY(40px);
        opacity: 0;
        scale: .90;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }

  .fade-slow-er {
    animation: fade-in-slower 3s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @keyframes fade-in-slower {
    0% {
      opacity: 0;
      scale: .90;
    }
    50% {
        opacity: 0;
        scale: .90;
    }
    75% {
        transform: translateY(40px);
        opacity: 0;
        scale: .90;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }


 /* MOBILE */

@media only screen and (max-width: 900px) {
    
    #character-display #new-character-button, #delete-character-button {
        min-width: 28rem;
    }

    .holder {
        min-width: 30rem;
    }
    
    #character-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 84vw;
        padding: 5rem;
        margin: auto;
        min-width: 5rem;
    }
    #character-creator {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70vw;
        padding: 5rem;
        margin: auto;
        min-width: 40rem;
    }

    #character-display input{
        max-width: 8rem;
        padding: 15px 15px;
        width: 11rem;
        min-width: 18rem;
        
    }

    /* #class-selector input {
        padding-left: 3rem;
        padding-right: 3rem;
    } */

    .traits{
        margin-top: 2rem;
    }

    .buttons {
        margin-top: 3rem;
    }

    h4 {
        margin-top: 0;
        padding-top: 0;
    }

    #character-display p {
        text-align: center;
        min-width: 10rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem
    }

    body {
        background-position: center;
        /* pointer-events: none; */
        justify-content: center;
        /* align-items: center; */
        display: flex;
    }

    .buttons {
        justify-content: center;
        justify-content: space-between;
        display: flex;
        flex-flow: column;
        min-width: 19rem;
    }
    .traits {
        flex-direction: column-reverse;
        text-align: center;
    }
    .resources {
        min-width: 90%;
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
        margin: 0 -9rem;
    }
    .resources .hp, .mp {
        margin-bottom: 1rem;
    }

    .stats-col {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        align-items: center;
        min-width: 19rem;
    }

    .stats{
        padding-bottom: 1rem;
    }

    #character-creator #name {
        min-width: 1rem; 
    }
}

@media only screen and (max-width: 570px) {
    #character-display #new-character-button, #delete-character-button {
        min-width: 5rem;
    }
    
    #character-creator button{
        padding: 10px 15px;
        
    }
    #character-creator input {
        max-width: 2rem;
        min-width: 3rem;
        padding: 5px;
        min-width: 12rem
    }
}



@media only screen and (max-width: 400px) {
#character-display, #character-creator {
    max-width: 92vw;
}

#character-creator input {
    max-width: 2rem;
    min-width: 3rem;
    padding: 5px;
}
#character-creator button {
    margin: 8px 0;
    padding: 10px 10px;
}
}